main{
  position:relative
}

#map {
    height: 90vh;
    width: 100%;
  }

  .pop-up{
    position: absolute;
    top:50%;
    left:50%;
    background-color: white;
    transform: translateX(-50%);
  }

  .hide{
    display:none;
  }